/* PeydaWeb Font Family */
@font-face {
  font-family: 'PeydaWeb';
  src: url('/fonts/PeydaWeb-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PeydaWeb';
  src: url('/fonts/peydaWeb-extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PeydaWeb';
  src: url('/fonts/peydaWeb-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PeydaWeb';
  src: url('/fonts/PeydaWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PeydaWeb';
  src: url('/fonts/PeydaWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PeydaWeb';
  src: url('/fonts/PeydaWeb-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PeydaWeb';
  src: url('/fonts/PeydaWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PeydaWeb';
  src: url('/fonts/PeydaWeb-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PeydaWeb';
  src: url('/fonts/PeydaWeb-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
